@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.block {
  width: 100px;
  height: 100px;
  background: black;
  position: relative;
  left: 0;
  top: 0;
  transition: 0.5s;
}
